* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
* body {
  background-color: #FFFFFF;
}
* body .header {
  max-width: 1070px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
* body .header .logoHeader {
  width: 200px;
  height: 41px;
  cursor: pointer;
}
* body .header .menuHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 49px;
}
* body .header .menuHeader .menuItemHeader {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #19191B;
}
* body .header .buttonHeader {
  width: 211px;
  height: 60px;
  background-color: #FF7143;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s;
}
* body .header .buttonHeader:hover {
  filter: brightness(0.9);
}
* body .main {
  max-width: 1070px;
  margin: 68px auto 158px auto;
}
* body .main .primaryContent {
  max-width: 1146px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 77px;
}
* body .main .primaryContent .textPrimaryContent {
  max-width: 459px;
}
* body .main .primaryContent .textPrimaryContent .titlePrimaryContent {
  font-family: "DM Sans", sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191B;
}
* body .main .primaryContent .textPrimaryContent .subtilePrimaryContent {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 30px;
  letter-spacing: -0.63px;
  color: #696871;
}
* body .main .primaryContent .textPrimaryContent .actionsPrimaryContent {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
* body .main .primaryContent .textPrimaryContent .actionsPrimaryContent .buttonPrimaryContent {
  width: 211px;
  height: 60px;
  background-color: #5454D4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 0.2s;
}
* body .main .primaryContent .textPrimaryContent .actionsPrimaryContent .buttonPrimaryContent:hover {
  filter: brightness(0.9);
}
* body .main .primaryContent .textPrimaryContent .actionsPrimaryContent .logoPrimaryContent {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
* body .main .primaryContent .imagePrimaryContent {
  width: 580px;
  height: 644px;
}
* body .main .secondaryContent {
  max-width: 1146px;
  margin-top: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
* body .main .secondaryContent .itemsSecondaryContent {
  width: 117.346px;
  height: 31.282px;
}
* body .main .thirdContent {
  margin-top: 150px;
}
* body .main .fourthContent {
  margin-top: 81px;
}
* body .main .thirdContent, * body .main .fourthContent {
  max-width: 1146px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
* body .main .thirdContent .textThridContent, * body .main .thirdContent .textFourthContent, * body .main .fourthContent .textThridContent, * body .main .fourthContent .textFourthContent {
  max-width: 556px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
* body .main .thirdContent .textThridContent .imageThirdContent, * body .main .thirdContent .textFourthContent .imageThirdContent, * body .main .fourthContent .textThridContent .imageThirdContent, * body .main .fourthContent .textFourthContent .imageThirdContent {
  width: 348.5px;
  height: 473px;
}
* body .main .thirdContent .textThridContent .imageFourthContent, * body .main .thirdContent .textFourthContent .imageFourthContent, * body .main .fourthContent .textThridContent .imageFourthContent, * body .main .fourthContent .textFourthContent .imageFourthContent {
  width: 346.37px;
  height: 474px;
}
* body .main .thirdContent .textThridContent .titleThridContent, * body .main .thirdContent .textThridContent .titleFourthContent, * body .main .thirdContent .textFourthContent .titleThridContent, * body .main .thirdContent .textFourthContent .titleFourthContent, * body .main .fourthContent .textThridContent .titleThridContent, * body .main .fourthContent .textThridContent .titleFourthContent, * body .main .fourthContent .textFourthContent .titleThridContent, * body .main .fourthContent .textFourthContent .titleFourthContent {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -1.56316px;
  line-height: 57px;
  color: #19191B;
}
* body .main .thirdContent .textThridContent .subtileThridContent, * body .main .thirdContent .textThridContent .subtitleFourthContent, * body .main .thirdContent .textFourthContent .subtileThridContent, * body .main .thirdContent .textFourthContent .subtitleFourthContent, * body .main .fourthContent .textThridContent .subtileThridContent, * body .main .fourthContent .textThridContent .subtitleFourthContent, * body .main .fourthContent .textFourthContent .subtileThridContent, * body .main .fourthContent .textFourthContent .subtitleFourthContent {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}
* body .main .thirdContent .textThridContent .linkThridContent, * body .main .thirdContent .textThridContent .linkFourthContent, * body .main .thirdContent .textFourthContent .linkThridContent, * body .main .thirdContent .textFourthContent .linkFourthContent, * body .main .fourthContent .textThridContent .linkThridContent, * body .main .fourthContent .textThridContent .linkFourthContent, * body .main .fourthContent .textFourthContent .linkThridContent, * body .main .fourthContent .textFourthContent .linkFourthContent {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.531474px;
  color: #5454D4;
}
* body .main .fifthContent {
  margin-top: 138px;
  max-width: 1146px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
* body .main .fifthContent .itemsFifthContent {
  display: flex;
  flex-direction: column;
}
* body .main .fifthContent .itemsFifthContent .imageItemFifthContent {
  margin-bottom: 7px;
  width: 151px;
  height: 97px;
  margin: 0 auto;
}
* body .main .fifthContent .itemsFifthContent .titleItemFifthContent {
  margin-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
  letter-spacing: -0.750316px;
  color: #19191B;
}
* body .main .fifthContent .itemsFifthContent .subtitleItemFifthContent {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  letter-spacing: -0.500211px;
  color: #696871;
}

/*# sourceMappingURL=styles.css.map */
